.menu{
  width: 100%;
  height: 300px;
  text-align: center;
}
.users{
  width: 30%;
  height: 300px;
  border: solid 2px #008b8b;
  margin:20px;
  float:left;
}
.books{
  width: 30%;
  height: 300px;
  border: solid 2px #008b8b;
  margin:20px;
  float:left;
}
.rental{
  width: 30%;
  height: 300px;
  border: solid 2px #008b8b;
  margin:20px;
  float:left;
}
