.search_form{
  text-align: center;
}
h1{
  text-align: center;
}
.search{
  width: 500px;
  height: 200px;
  border: solid 2px #008b8b;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
}
table{
  margin: 20px;

}
